[submodule "LLMInterviewQuestions"]
	path = LLMInterviewQuestions
	url = https://github.com/llmgenai/LLMInterviewQuestions
[submodule "llms-interview-questions"]
	path = llms-interview-questions
	url = https://github.com/Devinterview-io/llms-interview-questions
[submodule "ai-engineering-interview-questions"]
	path = ai-engineering-interview-questions
	url = https://github.com/amitshekhariitbhu/ai-engineering-interview-questions
[submodule "DS_StatisticsQuestions"]
	path = DS_StatisticsQuestions
	url = https://github.com/srimugunthan/DS_StatisticsQuestions
[submodule "ml-algos-from-scratch"]
	path = ml-algos-from-scratch
	url = https://github.com/srimugunthan/ml-algos-from-scratch
